/*Created with Adobe RoboHelp 10.*/
/*begin-old-version{{*/
/* ================================================ */
/* ==CSS Styles for generating PDF from RoboHelp == */
/* ================ pdf_from_rh.css =============== */

/* ----------Default body style ---------- */

body
	{
	color:#333333;
	background-color:#ffffff;
	font-family:"Verdana","sans-serif";
	margin-left:0cm;
	font-size:9.0pt;
	margin-top:0cm;
	margin-right:0.46cm;
	margin-bottom:6.0pt;	
	text-align:justify;
		}

/* ---------- Paragraph style ---------- */

p
	{
	margin-top:0cm;
	margin-right:0.46cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:justify;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	}

/* ---------- Title headings styles ---------- */
h1
	{
	color: #000000;
	font-size: 26.0pt;
	font-family:"Neo Sans Intel Medium","sans-serif";
	font-weight: normal;
	font-style:italic;
	border:solid;
	padding-bottom: 1px;	
	margin-left: 0pt;
	margin-bottom: 1px;
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom: 1px solid #000000;
	page-break-before: always;
	}

h1.Heading1NoTOC, p.Heading1NoTOC, li.Heading1NoTOC, div.Heading1NoTOC
	{
	margin-top:10.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	page-break-before:always;
	page-break-after:avoid;
	font-size:26.0pt;
	font-family:"Neo Sans Intel Medium","sans-serif";
	font-style:italic;}
	
h2
	{
	margin-top:24.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:27.0pt;
	border:solid;
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom: 1px solid #000000;
	padding:0cm;
	font-size:20.0pt;
	font-family:"Neo Sans Intel","sans-serif";
	color:#0860A8;
	page-break-before: avoid;}
	
h3
	{
	margin-top:24.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:15.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Neo Sans Intel","sans-serif";
	font-style:bold;
	color:#0860A8;}
h4
	{
	margin-top:15.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:13.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Neo Sans Intel","sans-serif";
	color:#0860A8;}
h5
	{margin-top:15.0pt;
	margin-right:0cm;
	margin-bottom:5.0pt;
	margin-left:0cm;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Neo Sans Intel","sans-serif";}
h6
	{margin-top:15.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Neo Sans Intel","sans-serif";
	color:black;
	font-weight:normal;}

/* --------- Link styles ---------- */
A 
	{text-decoration: none;
	color: #0860a8;}

a:link { 
	color:#0860A8;
	text-decoration: none;

}
a:active { 
	color: #0860a8;
	text-decoration: none;

}
a:visited { 
	color:#9900cc;
	text-decoration: none;

}
a:hover { 
	color:#000000; 
	background-color:#ffffcc;
}
p.pRelatedLink
{
	margin-top:0cm;
	margin-right:0.46cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:left;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";}
	
p.HyperlinkLegal, li.HyperlinkLegal, div.HyperlinkLegal
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	font-size:8.0pt;
	font-family:"Verdana","sans-serif";
	color:#0860A8;
	layout-grid-mode:line;
	text-decoration:none;}
	
span.HyperlinkLegalChar
	{
	font-family:"Verdana","sans-serif";
	color:#0860A8;
	layout-grid-mode:line;
	text-decoration:none;}
	
/* ---------- Note styles ---------- */

/* ini
h3.NoteTipHead, p.NoteTipHead
	{
	margin-top:9.0pt;
	margin-right:0.5pt;
	margin-bottom:3.0pt;
	padding-bottom: 0;
	line-height:9.0pt;
	page-break-after:avoid;
	font-size:0pt;
	font-style:bold;
	font-style:italic;
	font-family:"Verdana","sans-serif";
	text-transform:uppercase;
	color:#0860A8;
	}
*/
	
p.NoteTipHead
	{
	margin-top:24.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:15.0pt;
	page-break-after:avoid;
	font-size:9.0pt;
	font-style:italic;
	font-weight:bold;
	font-family:"Verdana","sans-serif";
	text-transform:uppercase;}
	

p.Note, li.Note
	{
	margin-top:5.0pt;
	margin-right:0.46cm;
	margin-bottom:6.0pt;
	text-align:left;
	line-height:9.0pt;
	padding:0cm;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	color:black;
	display:inline;
		}
		
/*h3.NoteTipHead, p.NoteTipHead, P.Note {
	box-shadow:2px 3px 3px 1px #CCCCCC;
}
*/
div.NoteCont
	{
	margin-left:inherit;
	margin-right:0.46cm;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-style:solid;
	border-top-width:1px;
	padding-left:5px;
	margin-top:20pt;
	margin-bottom:20pt;
	box-shadow:2px 3px 3px 1px #CCCCCC;
	}
	
/*li p.Note, li h3.NoteTipHead {
	margin-left: -25px;
	margin-right:0.46cm;
	padding-left:25px;
	max-width:585px;
}	
*/
/* ---------- Tip and Caution styles ---------- */	

p.Caution, li.Caution, div.Caution
	{
	margin-top:13.0pt;
	margin-right:0.46cm;
	margin-bottom:6.0pt;
	margin-left:56.15pt;
	text-align:justify;
	text-indent:-56.15pt;
	line-height:13.0pt;
	border:none;
	padding:0cm;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	color:black;}
p.Tip, li.Tip, div.Tip
	{
	margin-top:13.0pt;
margin-right:0.46cm;
	margin-bottom:6.0pt;
	margin-left:31.2pt;
	text-align:justify;
	text-indent:-31.2pt;
	line-height:13.0pt;
	border:none;
	padding:0cm;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	color:black;}

	
/* ---------- TOC styles ---------- */
	
p.Toc1, li.Toc1, div.Toc1
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	font-weight:bold;}
p.Toc2, li.Toc2, div.Toc2
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:1.0cm;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";}
p.Toc3, li.Toc3, div.Toc3
	{margin-top:3.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";}
	
p.TocHeading, li.TocHeading, div.TocHeading
	{margin-top:24.0pt;
	margin-right:-1.15pt;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	line-height:115%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Cambria","serif";
	color:#365F91;}
	
/* ---------- Header & Footer styles ---------- */
p.Header, li.Header, div.Header
	{
	margin-top:24.0pt;
	margin-right:0cm;
	margin-bottom:24.0pt;
	margin-left:0cm;
	font-size:8.0pt;
	font-family:"Verdana","sans-serif";
	color:black;
	font-weight:bold;
	font-style:italic;
    display: block;
    content: "";
    margin-top: -2px;
    position: relative;
    top: -10px;
    background: black;
    width: 100%;
    height: 4px;
}
p.Footer, li.Footer, div.Footer
	{
	margin-top:24.0pt;
	margin-right:0cm;
	margin-bottom:18.0pt;
	margin-left:0cm;
	font-size:8.0pt;
	font-family:"Verdana","sans-serif";
	color:black;}

p.ListBullet, li.ListBullet, div.ListBullet
	{margin-top:0cm;
	margin-right:0cm;
	margin-left:0cm;
	text-align:justify;
	text-indent:0pt;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";}

span.PlaceholderText
	{color:gray;}
	

span.Heading1Char
	{
	font-family:"Neo Sans Intel Medium","sans-serif";
	font-style:italic;}
span.Heading2Char
	{
	font-family:"Neo Sans Intel","sans-serif";
	color:#0860A8;
	font-weight:bold;}
span.Heading3Char
	{
	font-family:"Neo Sans Intel","sans-serif";
	color:#0860A8;
	font-weight:bold;}
span.CaptionChar
	{
	font-family:"Verdana","sans-serif";
	color:#0860A8;
	font-weight:bold;}
span.FooterChar
	{
	font-family:"Verdana","sans-serif";
	color:black;}
	
/* ---------- Optimization Notice styles ---------- */	

p.OptimizationNoticeTitle, li.OptimizationNoticeTitle, div.OptimizationNoticeTitle
	{
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	color:#FFFFFF;
	background-color: #555555;
	font-weight:bold;}
p.OptimizationNoticeBody, li.OptimizationNoticeBody, div.OptimizationNoticeBody
	{
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	color:#000000;
	background-color: #CCECFF;
	font-weight:normal;}
	
/* ---------- Title Page styles ---------- */	
	
p.DocTitle, li.DocTitle, div.DocTitle
	{
	margin-top:10.0pt;
	margin-right:3.0cm;
	margin-left:0cm;
	margin-bottom:10pt;
	page-break-after:avoid;
	font-size:22.0pt;
	font-family:"Verdana","sans-serif";
	color:#0860A8;
	font-weight:bold;}
p.Classification, li.Classification, div.Classification
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Verdana","sans-serif";
	color:#F20017;
	font-weight:bold;}
	
p.DocType, li.DocType, div.DocType
	{
	margin-top:20.0pt;
	margin-right:28.9pt;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	border:none;
	padding:0cm;
	font-size:12.0pt;
	font-family:"Verdana","sans-serif";
	color:#0860A8;
	font-weight:bold;}
p.ProductTitlePage, li.ProductTitlePage, div.ProductTitlePage
	{
	margin-top:4cm;
	margin-right:28.9pt;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Verdana","sans-serif";
	color:#0860A8;
	font-weight:bold;
	font-style:italic;}
	
/* ---------- Table styles ---------- */		
	
table.gridtable {
	margin-bottom: 5pt;
	border-collapse: collapse;
	margin-left: 0px;
	margin-top: 0.3em;
	font-size: 10pt;
	border-style: solid;
	border-width: 1px;
	
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
.DefListTbl {
   width: 90%;
	margin-left: -3pt;
}
.syntaxdiagramtbl {
	 margin-left: -3pt;
}
.sdtbl {  
}
.sdrow {  
}
.sdtblp {  
	border:0px none;
	font-size:inherit;
	line-height: 120%;
	margin-bottom:0;
	padding-bottom: 0px; 
	padding-top: 5px; 
	padding-left: 0px; 
	padding-right: 5px; 
	vertical-align:top; 
}

.idepara {  
	border:0px none;
	font-size:inherit;
	line-height: 120%;
	margin-bottom:0;
	padding-bottom: 0px; 
	padding-top: 5px; 
	padding-left: 0px; 
	padding-right: 5px; 
	vertical-align:top; 
}
.ide_para {  
	border:0px none;
	font-size:inherit;
	line-height: 120%;
	margin-bottom:0;
	padding-bottom: 0px; 
	padding-top: 5px; 
	padding-left: 0px; 
	padding-right: 5px; 
	vertical-align:top; 
}
/* ---------- See Also styles ---------- */		
	
p.seealso, h2.seealso	
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:15.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Neo Sans Intel Medium", "sans-serif";
	font-style: bold;
	color:#0860A8;
	page-break-before: avoid;}
	
	
p.SeeAlsoItem, li.SeeAlsoItem
	{
	margin-top:1.3pt;
	margin-right:-1.15pt;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	text-align:left;
	text-align:left;
	font-size:9.0pt;
	font-family:"Verdana";
	color:#075FA7;
	font-weight:normal;}
	
/* ---------- Lists styles ---------- */	
	
p.ListNumberedList, li.ListNumberedList, div.ListNumberedList
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-left:37.85pt;
	text-indent:-18.0pt;
	line-height:12.0pt;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";}
	
/* ---------- Code styles ---------- */		

.codeph { 
	font-family:"Courier New" , Courier, monospace;
	color:#800000;  
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:9.5pt;
	color:#800000;}
p.preformatted, li.preformatted, div.preformatted
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:9.5pt;
	font-family:"Courier New" , Courier, monospace;
	color:#800000;}
p.code, li.code, div.code
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:9.5pt;
	font-family:"Courier New";
	color:#800000;}
	
span.BalloonTextChar
	{
	font-family:"Tahoma","sans-serif";}
	
pre
	{
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:9.5pt;
	font-family:"Courier New";
	color:#800000;}
/* ---------- Command styles ---------- */		

p.Command, li.Command, div.Command
	{
	margin-top:24.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:15.0pt;
	page-break-after:avoid;
	border:none;
	padding:0cm;
	font-size:16.0pt;
	font-family:"Neo Sans Intel","sans-serif";
	color:#0860A8;
	font-weight:bold;}
	
p.CommandText, li.CommandText, div.CommandText
	{
	margin-top:0cm;
	margin-right:13.05pt;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:justify;
	border:none;
	padding:0cm;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	font-style:italic;}
p.CommandHeading, li.CommandHeading, div.CommandHeading
	{
	margin-top:15.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	line-height:13.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Neo Sans Intel","sans-serif";
	color:#0860A8;
	font-weight:bold;}


/* ---------- Page Definitions ---------- */
@page WordSection1
	{size:612.0pt 792.0pt;
	margin:69.05pt 2.0cm 26.1pt 2.0cm;}
div.WordSection1
	{page:WordSection1;}
	
/* ---------- List Definitions ---------- */
p.TableNumList, li.TableNumList, div.TableNumList
	{
	margin-top:3.0pt;
	margin-right:1.15pt;
	margin-bottom:3.0pt;
	margin-left:23.5pt;
	text-align:justify;
	text-indent:-17.85pt;
	line-height:11.0pt;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	color:black;}
p.TableBulletList, li.TableBulletList, div.TableBulletList
	{
	margin-top:3.0pt;
	margin-right:1.15pt;
	margin-bottom:3.0pt;
	margin-left:23.5pt;
	text-indent:-17.85pt;
	line-height:11.0pt;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	color:black;}

ol, ul
	{margin-bottom:0cm;
	list-style: outside;
	margin-left:18.0pt;
    text-indent:-18.0pt;
}

/* ---------- Remaining Styles that are not in use now, but might be useful one day ---------- */
/* span.CommentTextChar
	{
	font-family:"Verdana","sans-serif";
	color:#0860A8;} 

p.Caption, li.Caption, div.Caption
	{
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:49.9pt;
	text-indent:-49.9pt;
	line-height:11.0pt;
	page-break-after:avoid;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";
	color:#0860A8;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:0cm;
	margin-right:0.46cm;
	margin-bottom:6.0pt;
	margin-left:inherit;
	text-align:justify;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";}
	
p.BodyText, li.BodyText, div.BodyText
	{
	margin-top:0cm;
	margin-right:0.46cm;
	margin-bottom:6.0pt;

	margin-left: -25px;
	padding-left:25px;
	text-align:justify;
	font-size:9.0pt;
	font-family:"Verdana","sans-serif";}
	
p.DocumentMap, li.DocumentMap, div.DocumentMap
	{margin-top:10.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	background:navy;
	font-size:9.0pt;
	font-family:"Tahoma","sans-serif";}

span.SeeAlsoItemChar
	{
	font-family:"Neo Sans Intel","sans-serif";
	color:#075FA7;
	text-align:left;
	font-weight:normal;}
	
p.Legal, li.Legal, div.Legal
	{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	font-size:8.0pt;
	font-family:"Verdana","sans-serif";
	color:black;
	layout-grid-mode:line;}
	
span.LegalChar
	{
	font-family:"Verdana","sans-serif";
	color:black;
	layout-grid-mode:line;}
	
	
p.NoteTable, li.NoteTable, div.NoteTable
	{
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	text-indent:0cm;
	font-size:8.0pt;
	font-family:"Verdana","sans-serif";} */

-->/*}}end-old-version*/
@page WordSection1 {
	x-size: 612.0pt 792.0pt;
	margin: 69.05pt 2.0cm 26.1pt 2.0cm;
};

body {
	color: #333333;
	background-color: #ffffff;
	font-family: Verdana, sans-serif;
	margin-left: 0cm;
	font-size: 9.0pt;
	margin-top: 0cm;
	margin-right: 0.46cm;
	margin-bottom: 6.0pt;
	text-align: justify;
}
p {
	margin-top: 0cm;
	margin-right: 0.46cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	text-align: justify;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
}
h1 {
	color: #000000;
	font-size: 26.0pt;
	font-family: "Neo Sans Intel Medium", sans-serif;
	font-weight: normal;
	font-style: italic;
	border: solid;
	padding-bottom: 1px;
	margin-left: 0pt;
	margin-bottom: 1px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #000000;
	page-break-before: always;
}
h1.Heading1NoTOC,
p.Heading1NoTOC,
li.Heading1NoTOC,
div.Heading1NoTOC {
	margin-top: 10.0pt;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 0cm;
	margin-bottom: .0001pt;
	page-break-before: always;
	page-break-after: avoid;
	font-size: 26.0pt;
	font-family: "Neo Sans Intel Medium", sans-serif;
	font-style: italic;
}
h2 {
	margin-top: 24.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	line-height: 27.0pt;
	border: solid;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #000000;
	padding: 0cm;
	font-size: 20.0pt;
	font-family: "Neo Sans Intel", sans-serif;
	color: #0860A8;
	page-break-before: avoid;
}
h3 {
	margin-top: 24.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	line-height: 15.0pt;
	page-break-after: avoid;
	font-size: 12.0pt;
	font-family: "Neo Sans Intel", sans-serif;
	font-style: bold;
	color: #0860A8;
}
h4 {
	margin-top: 15.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	line-height: 13.0pt;
	page-break-after: avoid;
	font-size: 10.0pt;
	font-family: "Neo Sans Intel", sans-serif;
	color: #0860A8;
}
h5 {
	margin-top: 15.0pt;
	margin-right: 0cm;
	margin-bottom: 5.0pt;
	margin-left: 0cm;
	line-height: 12.0pt;
	page-break-after: avoid;
	font-size: 10.0pt;
	font-family: "Neo Sans Intel", sans-serif;
}
h6 {
	margin-top: 15.0pt;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 0cm;
	margin-bottom: .0001pt;
	page-break-after: avoid;
	font-size: 10.0pt;
	font-family: "Neo Sans Intel", sans-serif;
	color: #000000;
	font-weight: normal;
}
A {
	color: #0860a8;text-decoration: none;
}
a:link {
	color: #0860A8;
	text-decoration: none;
}
a:active {
	color: #0860a8;
	text-decoration: none;
}
a:visited {
	color: #9900cc;
	text-decoration: none;
}
a:hover {
	color: #000000;
	background-color: #ffffcc;
}
p.pRelatedLink {
	margin-top: 0cm;
	margin-right: 0.46cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	text-align: left;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
}
p.HyperlinkLegal,
li.HyperlinkLegal,
div.HyperlinkLegal {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 4.0pt;
	margin-left: 0cm;
	font-size: 8.0pt;
	font-family: Verdana, sans-serif;
	color: #0860A8;
	layout-grid-mode: line;
	text-decoration: none;
}
span.HyperlinkLegalChar {
	font-family: Verdana, sans-serif;
	color: #0860A8;
	layout-grid-mode: line;
	text-decoration: none;
}
p.NoteTipHead {
	margin-top: 24.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	line-height: 15.0pt;
	page-break-after: avoid;
	font-size: 9.0pt;
	font-style: italic;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
}
p.Note,
li.Note {
	margin-top: 5.0pt;
	margin-right: 0.46cm;
	margin-bottom: 6.0pt;
	text-align: left;
	line-height: 9.0pt;
	padding: 0cm;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
	color: #000000;
	display: inline;
}
div.NoteCont {
	margin-left: inherit;
	margin-right: 0.46cm;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	padding-left: 5px;
	margin-top: 20pt;
	margin-bottom: 20pt;
	box-shadow: 2px 3px 3px 1px #CCCCCC;
}
p.Caution,
li.Caution,
div.Caution {
	margin-top: 13.0pt;
	margin-right: 0.46cm;
	margin-bottom: 6.0pt;
	margin-left: 56.15pt;
	text-align: justify;
	text-indent: -56.15pt;
	line-height: 13.0pt;
	border: none;
	padding: 0cm;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
	color: #000000;
}
p.Tip,
li.Tip,
div.Tip {
	margin-top: 13.0pt;
	margin-right: 0.46cm;
	margin-bottom: 6.0pt;
	margin-left: 31.2pt;
	text-align: justify;
	text-indent: -31.2pt;
	line-height: 13.0pt;
	border: none;
	padding: 0cm;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
	color: #000000;
}
p.Toc1,
li.Toc1,
div.Toc1 {
	margin-top: 3.0pt;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 0cm;
	margin-bottom: .0001pt;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
	font-weight: bold;
}
p.Toc2,
li.Toc2,
div.Toc2 {
	margin-top: 3.0pt;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 1.0cm;
	margin-bottom: .0001pt;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
}
p.Toc3,
li.Toc3,
div.Toc3 {
	margin-top: 3.0pt;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 2.0cm;
	margin-bottom: .0001pt;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
}
p.TocHeading,
li.TocHeading,
div.TocHeading {
	margin-top: 24.0pt;
	margin-right: -1.15pt;
	margin-bottom: 0cm;
	margin-left: 0cm;
	margin-bottom: .0001pt;
	text-align: justify;
	line-height: 115%;
	page-break-after: avoid;
	font-size: 14.0pt;
	font-family: Cambria, serif;
	color: #365F91;
}
p.Header,
li.Header,
div.Header {
	margin-top: 24.0pt;
	margin-right: 0cm;
	margin-bottom: 24.0pt;
	margin-left: 0cm;
	font-size: 8.0pt;
	font-family: Verdana, sans-serif;
	color: #000000;
	font-weight: bold;
	font-style: italic;
	display: block;
	content: ;
	margin-top: -2px;
	position: relative;
	top: -10px;
	background: #000000;
	width: 100%;
	height: 4px;
}
p.Footer,
li.Footer,
div.Footer {
	margin-top: 24.0pt;
	margin-right: 0cm;
	margin-bottom: 18.0pt;
	margin-left: 0cm;
	font-size: 8.0pt;
	font-family: Verdana, sans-serif;
	color: #000000;
}
p.ListBullet,
li.ListBullet,
div.ListBullet {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-left: 0cm;
	text-align: justify;
	text-indent: 0pt;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
}
span.PlaceholderText {
	color: #808080;
}
span.Heading1Char {
	font-family: "Neo Sans Intel Medium", sans-serif;
	font-style: italic;
}
span.Heading2Char {
	font-family: "Neo Sans Intel", sans-serif;
	color: #0860A8;
	font-weight: bold;
}
span.Heading3Char {
	font-family: "Neo Sans Intel", sans-serif;
	color: #0860A8;
	font-weight: bold;
}
span.CaptionChar {
	font-family: Verdana, sans-serif;
	color: #0860A8;
	font-weight: bold;
}
span.FooterChar {
	font-family: Verdana, sans-serif;
	color: #000000;
}
p.OptimizationNoticeTitle,
li.OptimizationNoticeTitle,
div.OptimizationNoticeTitle {
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
	color: #ffffff;
	background-color: #555555;
	font-weight: bold;
}
p.OptimizationNoticeBody,
li.OptimizationNoticeBody,
div.OptimizationNoticeBody {
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
	color: #000000;
	background-color: #CCECFF;
	font-weight: normal;
}
p.DocTitle,
li.DocTitle,
div.DocTitle {
	margin-top: 10.0pt;
	margin-right: 3.0cm;
	margin-left: 0cm;
	margin-bottom: 10pt;
	page-break-after: avoid;
	font-size: 22.0pt;
	font-family: Verdana, sans-serif;
	color: #0860A8;
	font-weight: bold;
}
p.Classification,
li.Classification,
div.Classification {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: Verdana, sans-serif;
	color: #F20017;
	font-weight: bold;
}
p.DocType,
li.DocType,
div.DocType {
	margin-top: 20.0pt;
	margin-right: 28.9pt;
	margin-bottom: 0cm;
	margin-left: 0cm;
	margin-bottom: .0001pt;
	border: none;
	padding: 0cm;
	font-size: 12.0pt;
	font-family: Verdana, sans-serif;
	color: #0860A8;
	font-weight: bold;
}
p.ProductTitlePage,
li.ProductTitlePage,
div.ProductTitlePage {
	margin-top: 4cm;
	margin-right: 28.9pt;
	margin-bottom: 0cm;
	margin-left: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: Verdana, sans-serif;
	color: #0860A8;
	font-weight: bold;
	font-style: italic;
}
table.gridtable {
	margin-bottom: 5pt;
	border-collapse: collapse;
	margin-left: 0px;
	margin-top: 0.3em;
	font-size: 10pt;
	border-style: solid;
	border-width: 1px;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
.DefListTbl {
	width: 90%;
	margin-left: -3pt;
}
.syntaxdiagramtbl {
	margin-left: -3pt;
}
.sdtbl {
}
.sdrow {
}
.sdtblp {
	border: 0px none;
	font-size: inherit;
	line-height: 120%;
	margin-bottom: 0;
	padding-bottom: 0px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;
	vertical-align: top;
}
.idepara {
	border: 0px none;
	font-size: inherit;
	line-height: 120%;
	margin-bottom: 0;
	padding-bottom: 0px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;
	vertical-align: top;
}
.ide_para {
	border: 0px none;
	font-size: inherit;
	line-height: 120%;
	margin-bottom: 0;
	padding-bottom: 0px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 5px;
	vertical-align: top;
}
p.seealso,
h2.seealso {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	line-height: 15.0pt;
	page-break-after: avoid;
	font-size: 10.0pt;
	font-family: "Neo Sans Intel Medium", sans-serif;
	font-style: bold;
	color: #0860A8;
	page-break-before: avoid;
}
p.SeeAlsoItem,
li.SeeAlsoItem {
	margin-top: 1.3pt;
	margin-right: -1.15pt;
	margin-bottom: 0cm;
	margin-left: 0cm;
	margin-bottom: .0001pt;
	text-align: left;
	text-align: left;
	font-size: 9.0pt;
	font-family: Verdana;
	color: #075FA7;
	font-weight: normal;
}
p.ListNumberedList,
li.ListNumberedList,
div.ListNumberedList {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-left: 37.85pt;
	text-indent: -18.0pt;
	line-height: 12.0pt;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
}
.codeph {
	font-family: "Courier New", Courier, monospace;
	color: #800000;
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 9.5pt;
	color: #800000;
}
p.preformatted,
li.preformatted,
div.preformatted {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 9.5pt;
	font-family: "Courier New", Courier, monospace;
	color: #800000;
}
p.code,
li.code,
div.code {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 9.5pt;
	font-family: "Courier New";
	color: #800000;
}
span.BalloonTextChar {
	font-family: Tahoma, sans-serif;
}
p.Command,
li.Command,
div.Command {
	margin-top: 24.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	line-height: 15.0pt;
	page-break-after: avoid;
	border: none;
	padding: 0cm;
	font-size: 16.0pt;
	font-family: "Neo Sans Intel", sans-serif;
	color: #0860A8;
	font-weight: bold;
}
p.CommandText,
li.CommandText,
div.CommandText {
	margin-top: 0cm;
	margin-right: 13.05pt;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	text-align: justify;
	border: none;
	padding: 0cm;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
	font-style: italic;
}
p.CommandHeading,
li.CommandHeading,
div.CommandHeading {
	margin-top: 15.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	line-height: 13.0pt;
	page-break-after: avoid;
	font-size: 12.0pt;
	font-family: "Neo Sans Intel", sans-serif;
	color: #0860A8;
	font-weight: bold;
}
div.WordSection1 {
	page: WordSection1;
}
p.TableNumList,
li.TableNumList,
div.TableNumList {
	margin-top: 3.0pt;
	margin-right: 1.15pt;
	margin-bottom: 3.0pt;
	margin-left: 23.5pt;
	text-align: justify;
	text-indent: -17.85pt;
	line-height: 11.0pt;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
	color: #000000;
}
p.TableBulletList,
li.TableBulletList,
div.TableBulletList {
	margin-top: 3.0pt;
	margin-right: 1.15pt;
	margin-bottom: 3.0pt;
	margin-left: 23.5pt;
	text-indent: -17.85pt;
	line-height: 11.0pt;
	font-size: 9.0pt;
	font-family: Verdana, sans-serif;
	color: #000000;
}
ol,
ul {
	margin-bottom: 0cm;
	list-style: outside;
	margin-left: 18.0pt;
	text-indent: -18.0pt;
}
--> {
}
P.Preformatted {
	line-height: normal;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	color: #800000;
	font-family: "Courier New";
	font-size: 9.5pt;
	margin-bottom: .0001pt;
	margin: 0cm;
}
