#!/bin/sh
############################# MPC License ##############################
# Wed Nov 19 15:19:19 CET 2008                                         #
# Copyright or (C) or Copr. Commissariat a l'Energie Atomique          #
#                                                                      #
# IDDN.FR.001.230040.000.S.P.2007.000.10000                            #
# This file is part of the MPC Runtime.                                #
#                                                                      #
# This software is governed by the CeCILL-C license under French law   #
# and abiding by the rules of distribution of free software.  You can  #
# use, modify and/ or redistribute the software under the terms of     #
# the CeCILL-C license as circulated by CEA, CNRS and INRIA at the     #
# following URL http://www.cecill.info.                                #
#                                                                      #
# The fact that you are presently reading this means that you have     #
# had knowledge of the CeCILL-C license and that you accept its        #
# terms.                                                               #
#                                                                      #
# Authors:                                                             #
#   - ADAM Julien julien.adam@cea.fr                                   #
#   - VALAT Sebastien sebastien.valat@cea.fr                           #
#                                                                      #
########################################################################

#globals options to mpc_validation
#MPC_INSTALL_PREFIX=""  # path to mpc install
TESTTYPE="default" #if fasts tests, set to 'fast'
BUILDTYPE="default" #set to 'fast', 'full' or 'default'
CONFIG_NAME="" #set a config file to load

#Configurations of tests
MPC_AUTO_KILL_TIMEOUT="300"
MPC_NET_LIST="ib tcp"
MPC_THREAD_LIST="ethread_mxn_ng"
MPC_PROC_NB_LIST="1 2 4"
MPC_TASK_NB_LIST="4 32"
MPC_THREAD_NB_LIST="2 8"

#filter on tests
TESTS_NAME_SPECIFIED="" #regex on tests to keep
TEST_SUPPORT="supported" # test support mode (unsupported, supported, all)

#Cluster layout for wrappers : specific command
CLUSTER_MAX_NODE_PER_TEST="2" #max nodes required by one test
CLUSTER_MAX_CORES_PER_NODE="4" # max cores on a node
CLUSTER_MAX_NODES="2" #max available nodes

#Launchers
MPCRUN="mpcrun"

CLUSTER_MAX_CORES_PER_NODE="12"
CLUSTER_MAX_NODES="2"

MPCRUN_ARGS="-l=salloc_hydra"
HOSTNAME="cassard"


TEST_SUITE_COMPILER="mpc"
#Test suite output
MPC_ENABLE_COLOR=false

#scheduler options
JCHRNS_WRAPPER="default"
JCHRNS_COMPIL_WRAPPER="default"
JCHRNS_POLICY="2"
JCHRNS_MAX_ALLOC_TIME="28800" #max time for an allocation
JCHRNS_VERBOSITY=0
JCHRNS_SLAVES=1 #nb workers in parallel (number of launches)
JCHRNS_FAKE_EXEC="false" #scheduling simulation
JCHRNS_JSLOC_TRACE="no" #jsloc generation
JCHRNS_BACKUP_FILE="${PCVS_WORK_DIR}/test_suite/tmp/jns_chkpt.json"
