
body {
	text-align: center;
}

#popup{
	background-color: lightyellow;
	border: 1px solid black;
	max-width: 200px;
	font-size: 0.7em;
	padding: 10px;
}
table.main{
	width: 100%;
	text-align:center;
}

table.serie {
	margin-top: auto;
	margin-left: auto;
}

th{
	color: red;
}

th, td {
	padding: 2px;
	margin: 2px;
	text-align: center;
}

#optionheader {
	text-align: left;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	margin-left: 5%;
}
#resources-info {
	font-weight: bold;
}

#divresult {
	padding: 10px;
}

#result {
	width: 98%;
	height: 200px;
	resize: none;
	margin: 1%;
	padding: 0.4%;
	overflow: auto;
	border: 1px solid black;
}

#logo{
	width: 40%;
}

#jobfiles {
	resize: vertical;
	width: 100%;
}
