table.details-list tr td.name
{
	text-align: left;
}

table.details-list tr td.status
{
	font-weight:bold;
}

table.details-list tr.success
{
	color:green;
	background-color:#CAFFCF;
}

table.details-list tr.failed
{
	color:red;
	background-color:#FFCACA;
}

table.details-list tr.error
{
	color:red;
	background-color:#FFCACA;
}

table.details-list tr.error td.error-details
{
	font-weight:bold;
}

table.details-list tr.success td.success-details
{
	font-weight:bold;
}

table.details-list tr.failed td.failed-detailss
{
	font-weight:bold;
}

table.details-list td.status:first-letter
{
	text-transform:uppercase;
}
