body
{
	background-color:#E9E9E9;
}

div#page
{
	width: 1290px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid gray;
	background-color: white;
}

div#header
{
	width: 1288px;
	height: 130px;
	background-color: #DEFFBA;
	border: 1px #8CA566 solid;
	background-image: url('../images/logo-mpc.png');
	background-repeat:no-repeat;
	background-position:left;
	background-size: 161 127;
}

div#footer
{
	width: 1288px;
	height: 30px;
	background-color: #DEFFBA;
	border: 1px #8CA566 solid;
}

h1
{
	text-align: center;
	color: #6FB453;
	text-decoration: underline;
	font-size: 20pt;
}

div.section
{
	border: 1px #8CA566 dashed;
	margin:10px;
}

div.section h2
{
	text-align: center;
	color: black;
	font-size: 15pt;
}

a img
{
	border:none;
}

table
{
	border: 1px solid #B0B4B3;
	border-collapse:collapse;
	margin:auto;
	width: 80%;
	margin-bottom: 10px;
}

table th
{
	border: 1px solid #B0B4B3;
	color: #434544;
	background-color: #DBDBDB;
}

table td
{
	border-left: 1px solid #B0B4B3;
	text-align:center;
}
