tr.total td
{
	border: 1px solid #B0B4B3;
	font-style: italic;
}

tr.total td.todo
{
	color: black;
	background-color: #FFF0D0;
}

tr.total td.success-line
{
	color:black;
	background-color: #E0FFC7;
}

tr.total td.failed-line, tr.total td.failures
{
	color:black;
	background-color: #FFD3CC;
}

tr.total td.error-line, tr.total td.errors
{
	color:black;
	background-color: #FFD3CC;
}

.progress
{
	border: 1px gray solid;
	width: 150px;
	height: 12px;
	margin:auto;
}

.progress .bar
{
	border: 1px solid gray;
	height: 10px;
	background-color: gray;
}

.success-line td .progress .bar
{
	background-color: #2FC529;
}

.todo td .progress .bar
{
    background-color: #F1A40A;
}

.failed-line td .progress .bar
{
    background-color: #F18C8C;
}

.error-line td .progress .bar
{
    background-color: #F18C8C;
}

.unchanged_success-line td .progress .bar
{
    background-color: #5858FA;
}
.unchanged_failure-line td .progress .bar
{
    background-color: darkorange;
}
.fixed-line td .progress .bar
{
    background-color: #04B404;
}
.regress_perf-line td .progress .bar
{
    background-color: darkviolet;
}
.regress_failure-line td .progress .bar
{
    background-color: #FA5858;
}

td.selector
{
	width: 40px;
	text-align: center;
}
