table.test-results pre {
	text-align:left;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

table.test-results tr td.name
{
	text-align:left;
}

table.test-results tr.success
{
	color:green;
	background-color:#CAFFCF;
}

table.test-results tr.failed
{
	color:red;
	background-color:#FFCACA;
	font-weight:bold;
}

table.test-results tr.fixed
{
	color:green;
	background-color:#CAFFCF;
	font-weight:bold;
}

table.test-results tr.unchanged_failure
{
	color:#DF7401;
	background-color:#F5DA81;
}

table.test-results tr.unchanged_success
{
	color:gray;
	background-color:#E6E6E6;
}


table.test-results tr.error
{
	color:red;
	background-color:#FFCACA;
	font-weight:bold;
}
table.test-results tr.regress_failure
{
	color:red;
	background-color:#FFCACA;
	font-weight:bold;
}

table.test-results tr.regress_perf
{
	color:darkviolet;
	background-color:#D0A9F5;
	font-weight:bold;
}

table.test-results tr.failed-details
{
	background-color:#FFE2E2;
}

table.test-results tr.failed-details h3
{
	color:red;
}

table.test-results tr.failed-details pre
{
	border:#141414 2px solid;
	background-color:#1F1F1F;
	color:white;
	margin:10px;
}
table.test-results tr.success-details
{
	background-color:#EAFFEC;
}

table.test-results tr.success-details h3
{
	color:green;
}

table.test-results tr.success-details pre
{
	border:#141414 2px solid;
	background-color:#1F1F1F;
	color:white;
	margin:10px;
}
table.test-results tr.unchanged_failure-details
{
	background-color:#F3E2A9;
}

table.test-results tr.unchanged_failure-details h3
{
	color:#DF7401;
}

table.test-results tr.unchanged_failure-details pre
{
	border:#141414 2px solid;
	background-color:#1F1F1F;
	color:white;
	margin:10px;
}
table.test-results tr.regress_failure-details
{
	background-color:#FFE2E2;
}

table.test-results tr.regress_failure-details h3
{
	color:red;
}

table.test-results tr.regress_failure-details pre
{
	border:#141414 2px solid;
	background-color:#1F1F1F;
	color:white;
	margin:10px;
}
